.btn-outline-none {
  outline-style: none !important;
}

.alert-success {
  @apply 
    py-3 
    px-5 
    mb-4 
    bg-green-100 
    text-green-900 
    text-sm 
    rounded-md 
    border 
    border-green-200 
    flex 
    items-center 
    justify-between
}

.j-transition-in {
  @apply transition ease-out duration-700 opacity-100
}

.j-transition-out {
  @apply transition ease-in duration-700 opacity-0
}